<!DOCTYPE html>
<html class="in-process">
<head>
  <meta name="google-site-verification" content="OPS4s1bOQYqea_ni5gN_IRvhwok0xYuYOTZ9-4NpfK4" />
  <title>PandaApp</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
</head>
<body>
<% flash.keys.each do |key| %>
  <p class="flash flash-<%= key %>"><%= self.public_send(key) %></p>
<%- end -%>

<div class="auth">
<% if user_signed_in? %>
  <p class="auth-as in-process"><%= user_name %></p>
  <%= form_tag(destroy_user_session_path, method: :delete, class: 'auth-end') do %>
    <%= submit_tag('Sign out') %>
  <% end %>
<% else %>
  <p class="auth-entry">
    <%= link_to "Sign in &rarr;".html_safe, new_user_session_path %>
  </p>
<% end %>
</div>

<%= yield %>

<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
